@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ensure that the pattern background spans the full height */
html,
body {
    height: 100%;
}
.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust as needed */
}
.skill-underline {
    border-bottom: 1px solid #384347;
    padding: 15px 5px 15px 5px;
    margin-bottom:-22px;
    height: 10px;
    /* width: max-content; Uncomment if you want each item to only be as wide as its content */
}